<div class="my-3 p-3 bg-white rounded shadow-sm">
  <h1>The <%= @passed_test.test.title %> Test was Completed!</h1>

  <div class="d-flex bd-highlight mb-3">
    <%= link_to 'Back', tests_path, class: 'ml-auto' %>
  </div>
</div>
