<% if recource.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><%= t('.header', count: recource.errors.count) %></h4>
    <hr>
    <% recource.errors.full_messages.each do |message| %>
      <p><%= message %></p>
    <% end %>
  </div>
<% end %>
