<tr>
  <td><%= link_to question.body, admin_question_path(question) %></td>
  <td class="text-right"><%= link_to t('edit'), edit_admin_question_path(question) %></td>
  <td class="text-right"><%= link_to t('delete'), admin_question_path(question), method: :delete, data: { confirm: t('are_you_sure') } %></td>
</tr>
