<tr>
  <td><a href="#"><%= test.title %></a></td>
  <td><%= test_level(test) %></td>
  <td><%= test.questions.count %></td>
  <td class="text-right"><a href="#">Edit</a></td>
  <td class="text-right"><a href="#">Delete</a></td>
</tr>
