<tr>
  <td><a href="#"><%= test.title %></a></td>
  <td><%= test.level %></td>
  <td><%= test.questions.count %></td>
  <td class="text-right"><a href="#">Edit</a> | <a href="#">Delete</a></td>
</tr>
